.adjust-nav {
  background-color: #552b81;
  color: white;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family:
    "Gill Sans",
    sans-serif;
}

.add-background-color-main {
  background-color: #f0f0f0;
}

.adjust-img {
  padding-right: 10px;
  padding-left: 0;
}

.adjust-title {
  font-size: 25px;
  font-weight: normal;
  padding-left: 0.75rem;
  font-family:
    "Gill Sans",
    sans-serif;
}

.adjust-label {
  font-weight: normal;
  font-size: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  font-family:
    "Gill Sans",
    sans-serif;
}

.input-area {
  display: block;
  padding: 0.5rem;
  margin-bottom: 15px;
  border: 1px solid rgb(189 189 189);
  border-radius: 5px;
  font-size: 1rem;
}

.add-padding-top {
  padding-top: 20px;
}

.adjust-button-position {
  justify-content: flex-end;
  padding-bottom: 50px;
}

.button {
  background-color: #552b81;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 10px;
}

.list-title {
  font-size: 30px;
  list-style: none;
  font-family:
    "Gill Sans",
    sans-serif;
  padding-bottom: 15px;
  font-weight: bold;
  padding-left: 0;
}

.set-font-family {
  font-family:
    "Gill Sans",
    sans-serif;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

.list-content {
  font-size: 20px;
  list-style: none;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

.header-entries {
  font-size: 12px;
  padding-left: 15px;
}

.header-entries:hover {
  cursor: pointer;
}

.set-middle {
  margin: auto;
}

.adjust-position {
  justify-content: space-between;
  align-items: center;
}

.adjust-anchor {
  background-color: #552b81;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family:
    "Gill Sans",
    sans-serif;
  border-radius: 5px;
  padding: 5px 10px;
}

.adjust-anchor:hover {
  cursor: pointer;
}

.add-delete {
  justify-content: space-between;
  padding-bottom: 50px;
}

.delete {
  color: red;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(50 50 50 / 90%);
}

.modal-content {
  background-color: white;
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  flex-direction: column;
}

.close-button {
  background-color: #b6b6b6;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 15px;
  width: 80px;
  height: 30px;
  margin-right: 100px;
  margin-top: 30px;
}

.confirm-button {
  background-color: #dc2625;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  width: 80px;
  height: 30px;
  margin-top: 30px;
}

.close-button:hover {
  cursor: pointer;
}

.confirm-button:hover {
  cursor: pointer;
}
